@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/productlayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/Css/StyleAo.css" />
</head>
<body>
    <div id="wrapper">
        <div class="headline">
            <h3> <dfn>Áo Cầu lông</dfn></h3>
        </div>
        <ul class="products">
            <li>
                <div class="product-item">
                    <div class="product-top">
                        <div class="product-thumb">
                            <a href="" class="hìnhảnhsảnphẩm">
                                <img src="Hinh anh/ảnh áo/a1.jpg" alt="" />
                            </a>
                            <a href="" class="buy-now">Mua Ngay</a>
                        </div>
                    </div>
                    <div class="product-info">

                        <a href="" class="TênsảnPhẩm">Áo cầu lông Yonex 2058 Nam - Trắng Xanh</a>
                        <div class="Giásảnphẩm">160,000 đ</div>
                    </div>
                </div>
            </li>

            <li>
                <div class="product-item">
                    <div class="product-top">
                        <div class="product-thumb">
                            <a href="" class="hìnhảnhsảnphẩm">
                                <img src="Hinh anh/ảnh áo/a2.jpg" alt="">
                            </a>
                            <a href="" class="buy-now">Mua Ngay</a>
                        </div>
                    </div>
                    <div class="product-info">

                        <a href="" class="TênsảnPhẩm">Áo cầu lông Yonex 2057 Nam - Vàng Đen</a>
                        <div class="Giásảnphẩm">160,000 đ</div>
                    </div>
                </div>
            </li>

            <li>
                <div class="product-item">
                    <div class="product-top">
                        <div class="product-thumb">
                            <a href="" class="hìnhảnhsảnphẩm">
                                <img src="Hinh anh/ảnh áo/a3.jpg" alt="">
                            </a>
                            <a href="" class="buy-now">Mua Ngay</a>
                        </div>
                    </div>
                    <div class="product-info">

                        <a href="" class="TênsảnPhẩm">
                            Áo cầu lông Yonex 828 Nam - Xanh
                        </a>
                        <div class="Giásảnphẩm">160,000 đ</div>
                    </div>
                </div>
            </li>

            <li>
                <div class="product-item">
                    <div class="product-top">
                        <div class="product-thumb">
                            <a href="" class="hìnhảnhsảnphẩm">
                                <img src="Hinh anh/ảnh áo/a4.jpg" alt="">
                            </a>
                            <a href="" class="buy-now">Mua Ngay</a>
                        </div>
                    </div>
                    <div class="product-info">

                        <a href="" class="TênsảnPhẩm">Áo cầu lông Yonex 828 Nam - Đỏ</a>
                        <div class="Giásảnphẩm">160,000 đ</div>
                    </div>
                </div>
            </li>

            <li>
                <div class="product-item">
                    <div class="product-top">
                        <div class="product-thumb">
                            <a href="" class="hìnhảnhsảnphẩm">
                                <img src="Hinh anh/ảnh áo/a5.jpg" alt="">
                            </a>
                            <a href="" class="buy-now">Mua Ngay</a>
                        </div>
                    </div>
                    <div class="product-info">

                        <a href="" class="TênsảnPhẩm">
                            Áo cầu lông Yonex 3701 Nam - Trắng Xanh
                        </a>
                        <div class="Giásảnphẩm">160,000 đ</div>
                    </div>
                </div>
            </li>

            <li>
                <div class="product-item">
                    <div class="product-top">
                        <div class="product-thumb">
                            <a href="" class="hìnhảnhsảnphẩm">
                                <img src="Hinh anh/ảnh áo/a6.jpg" alt="">
                            </a>
                            <a href="" class="buy-now">Mua Ngay</a>
                        </div>
                    </div>
                    <div class="product-info">

                        <a href="" class="TênsảnPhẩm">
                            Áo cầu lông Yonex 3696 Nam - Trắng Xanh Chuối
                        </a>
                        <div class="Giásảnphẩm">160,000 đ</div>
                    </div>
                </div>
            </li>

            <li>
                <div class="product-item">
                    <div class="product-top">
                        <div class="product-thumb">
                            <a href="" class="hìnhảnhsảnphẩm">
                                <img src="Hinh anh/ảnh áo/a7.jpg" alt="">
                            </a>
                            <a href="" class="buy-now">Mua Ngay</a>
                        </div>
                    </div>
                    <div class="product-info">

                        <a href="" class="TênsảnPhẩm">
                            Áo cầu lông Yonex 3705 Nam - Trắng Hồng
                        </a>
                        <div class="Giásảnphẩm">160,000 đ</div>
                    </div>
                </div>
            </li>

            <li>
                <div class="product-item">
                    <div class="product-top">
                        <div class="product-thumb">
                            <a href="" class="hìnhảnhsảnphẩm">
                                <img src="Hinh anh/ảnh áo/a8.jpg" alt="">
                            </a>
                            <a href="" class="buy-now">Mua Ngay</a>
                        </div>
                    </div>
                    <div class="product-info">

                        <a href="" class="TênsảnPhẩm">Áo cầu lông Yonex 3697 Nam - Trắng</a>
                        <div class="Giásảnphẩm">160,000 đ</div>
                    </div>
                </div>
            </li>

            <li>
                <div class="product-item">
                    <div class="product-top">
                        <div class="product-thumb">
                            <a href="" class="hìnhảnhsảnphẩm">
                                <img src="Hinh anh/ảnh áo/a9.jpg" alt="">
                            </a>
                            <a href="" class="buy-now">Mua Ngay</a>
                        </div>
                    </div>
                    <div class="product-info">

                        <a href="" class="TênsảnPhẩm">Áo cầu lông Yonex 3703 Nam - Hồng</a>
                        <div class="Giásảnphẩm">160,000 đ</div>
                    </div>
                </div>
            </li>

            <li>
                <div class="product-item">
                    <div class="product-top">
                        <div class="product-thumb">
                            <a href="" class="hìnhảnhsảnphẩm">
                                <img src="Hinh anh/ảnh áo/a10.jpg" alt="">
                            </a>
                            <a href="" class="buy-now">Mua Ngay</a>
                        </div>
                    </div>
                    <div class="product-info">

                        <a href="" class="TênsảnPhẩm">Áo cầu lông Yonex 6247 Nam - Trắng</a>
                        <div class="Giásảnphẩm">160,000 đ</div>
                    </div>
                </div>
            </li>

            <li>
                <div class="product-item">
                    <div class="product-top">
                        <div class="product-thumb">
                            <a href="" class="hìnhảnhsảnphẩm">
                                <img src="Hinh anh/ảnh áo/a11.jpg" alt="">
                            </a>
                            <a href="" class="buy-now">Mua Ngay</a>
                        </div>
                    </div>
                    <div class="product-info">

                        <a href="" class="TênsảnPhẩm">Áo cầu lông Yonex 6247 Nam - Xanh</a>
                        <div class="Giásảnphẩm">160,000 đ</div>
                    </div>
                </div>
            </li>

            <li>
                <div class="product-item">
                    <div class="product-top">
                        <div class="product-thumb">
                            <a href="" class="hìnhảnhsảnphẩm">
                                <img src="Hinh anh/ảnh áo/a12.jpg" alt="">
                            </a>
                            <a href="" class="buy-now">Mua Ngay</a>
                        </div>
                    </div>
                    <div class="product-info">

                        <a href="" class="TênsảnPhẩm">Áo cầu lông Yonex 3707 Nam - Hồng</a>
                        <div class="Giásảnphẩm">160,000 đ</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>
