
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/productlayout.cshtml";
}
<link rel="stylesheet" href="~/Content/Css/StyleGiay.css"/>
<div id="wrapper">
    <div class="headline">
        <h3> <dfn> Giày cầu lông</dfn></h3>
    </div>
    <ul class="products">
        <li>
            <div class="product-item">
                <div class="product-top">
                    <div class="product-thumb">
                        <a href="" class="hìnhảnhsảnphẩm">
                            <img src="Hinh anh/giay/Giày (1).jpg" />
                        </a>
                        <a href="" class="buy-now">Mua Ngay</a>
                    </div>
                </div>
                <div class="product-info">

                    <a href="" class="TênsảnPhẩm">Wave Claw 2</a>
                    <div class="Giásảnphẩm">2,900,000 đ</div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <div class="product-thumb">
                        <a href="" class="hìnhảnhsảnphẩm">
                            <img src="Hinh anh/giay/Giày (2).jpg" />
                        </a>
                        <a href="" class="buy-now">Mua Ngay</a>
                    </div>
                </div>
                <div class="product-info">

                    <a href="" class="TênsảnPhẩm">Wave Claw EL 2</a>
                    <div class="Giásảnphẩm">2,350,000 đ</div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <div class="product-thumb">
                        <a href="" class="hìnhảnhsảnphẩm">
                            <img src="Hinh anh/giay/Giày (3).jpg" />
                        </a>
                        <a href="" class="buy-now">Mua Ngay</a>
                    </div>
                </div>
                <div class="product-info">

                    <a href="" class="TênsảnPhẩm">
                        Wave Claw NEO 2
                    </a>
                    <div class="Giásảnphẩm">2,999,000 đ</div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <div class="product-thumb">
                        <a href="" class="hìnhảnhsảnphẩm">
                            <img src="Hinh anh/giay/Giày (4).jpg" />
                        </a>
                        <a href="" class="buy-now">Mua Ngay</a>
                    </div>
                </div>
                <div class="product-info">

                    <a href="" class="TênsảnPhẩm">Wave FANG PRO</a>
                    <div class="Giásảnphẩm">3,450,000 đ</div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <div class="product-thumb">
                        <a href="" class="hìnhảnhsảnphẩm">
                            <img src="Hinh anh/giay/Giày (5).jpg" />
                        </a>
                        <a href="" class="buy-now">Mua Ngay</a>
                    </div>
                </div>
                <div class="product-info">

                    <a href="" class="TênsảnPhẩm">
                        Wave Claw NEO 2
                    </a>
                    <div class="Giásảnphẩm">2,999,000 đ</div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <div class="product-thumb">
                        <a href="" class="hìnhảnhsảnphẩm">
                            <img src="Hinh anh/giay/Giày (6).jpg" />
                        </a>
                        <a href="" class="buy-now">Mua Ngay</a>
                    </div>
                </div>
                <div class="product-info">

                    <a href="" class="TênsảnPhẩm">
                        Wave FANG ZERO 2
                    </a>
                    <div class="Giásảnphẩm">2,900,000 đ</div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <div class="product-thumb">
                        <a href="" class="hìnhảnhsảnphẩm">
                            <img src="Hinh anh/giay/Giày (7).jpg" />
                        </a>
                        <a href="" class="buy-now">Mua Ngay</a>
                    </div>
                </div>
                <div class="product-info">

                    <a href="" class="TênsảnPhẩm">
                        Wave Claw 2
                    </a>
                    <div class="Giásảnphẩm">2,900,000 đ</div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <div class="product-thumb">
                        <a href="" class="hìnhảnhsảnphẩm">
                            <img src="Hinh anh/giay/Giày (8).jpg" />
                        </a>
                        <a href="" class="buy-now">Mua Ngay</a>
                    </div>
                </div>
                <div class="product-info">

                    <a href="" class="TênsảnPhẩm">Wave Claw NEO 2</a>
                    <div class="Giásảnphẩm">2,999,000 đ</div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <div class="product-thumb">
                        <a href="" class="hìnhảnhsảnphẩm">
                            <img src="Ảnh giày/Giày (8).jpg" alt="">
                        </a>
                        <a href="" class="buy-now">Mua Ngay</a>
                    </div>
                </div>
                <div class="product-info">

                    <a href="" class="TênsảnPhẩm">Wave Claw NEO 2</a>
                    <div class="Giásảnphẩm">2,999,000 đ</div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <div class="product-thumb">
                        <a href="" class="hìnhảnhsảnphẩm">
                            <img src="Ảnh giày/Giày (8).jpg" alt="">
                        </a>
                        <a href="" class="buy-now">Mua Ngay</a>
                    </div>
                </div>
                <div class="product-info">

                    <a href="" class="TênsảnPhẩm">Wave Claw NEO 2</a>
                    <div class="Giásảnphẩm">2,999,000 đ</div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <div class="product-thumb">
                        <a href="" class="hìnhảnhsảnphẩm">
                            <img src="Ảnh giày/Giày (8).jpg" alt="">
                        </a>
                        <a href="" class="buy-now">Mua Ngay</a>
                    </div>
                </div>
                <div class="product-info">

                    <a href="" class="TênsảnPhẩm">Wave Claw NEO 2</a>
                    <div class="Giásảnphẩm">2,999,000 đ</div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <div class="product-thumb">
                        <a href="" class="hìnhảnhsảnphẩm">
                            <img src="Ảnh giày/Giày (8).jpg" alt="">
                        </a>
                        <a href="" class="buy-now">Mua Ngay</a>
                    </div>
                </div>
                <div class="product-info">

                    <a href="" class="TênsảnPhẩm">Wave Claw NEO 2</a>
                    <div class="Giásảnphẩm">2,999,000 đ</div>
                </div>
            </div>
        </li>
    </ul>
</div>


